{% extends 'gakusei/layout.html' %}

{% block body %}
    <h1>Solvencias de {{object}}</h1>

    <a href="{% url 'solvencias-clase' %}">Regresar a la lista</a>

    <ul>
        <li><a href="{% url 'sensei-detail' clase.sensei.id %}">
            Sensei:           {{clase.sensei}}                      </a>
        </li>
        <li>Horas Semanales:  {{clase.horas_semanales}} min.        </li>
        <li>Precio Base:      {{clase.precio}}$                     </li>
        <li>Fecha Inicio:     {{clase.f_inicio}}                    </li>
        <li>Fecha Cierre:     {% if clase.f_cierre %}{{clase.f_cierre}} {% else %} <i>Sin fecha de cierre.</i> {% endif %}    </li>
    </ul>


    <h3>Solvencias</h3>


    {% if clase.inscripciones.all %}
    
    
        {% for estudiante in clase.inscripciones.all %}
        <table border="1">
            <tr>
                <th colspan="4">{{ estudiante.estudiante.full_name }}</th>
            </tr>
            <tr>
                <th>Mes</th>
                <th>Status</th>
                <th>Precio</th>
                <th>Abonado</th>
            </tr>
            
            {% for solvencia in estudiante.estudiante.solvencias.all %}
                {% if object == solvencia.clase %}
                    <tr 
                        {% if solvencia.pagado == 'Pagado' %}
                        style="background-color:lightblue"
                        {% elif solvencia.pagado == 'Abonado' %}
                        style="background-color:lightyellow"
                        {% elif solvencia.pagado == 'Sin Pagar' %}
                        style="background-color:pink"
                        {% endif %}
                    >
                        <td>{{solvencia.mes|date:"M. Y"}}</td>
                        <td>{{solvencia.pagado}}</td>
                        <td>{{solvencia.monto_a_pagar}}$</td>
                        <td>{{solvencia.monto_abonado}}$</td>
                    </tr>
                {% endif %} 
            {% endfor %}
        </table> <br>
        {% endfor %}
    
    
    {% endif %}



    
{% endblock %}