{% extends 'gakusei/layout.html' %}

{% block body %}
    
    <a href="{% url 'index' %}" class="mb-4 btn bg-success-subtle text-reset"><i class="fa-solid fa-angles-left"></i> Regresar al Index</a>
    
    <h1>Listado de Solvencias por Clases</h1>

    <table border="1">
        <thead>
            <th>Sensei</th>
            <th>Curso</th>
            <th>Sede</th>
            <th>N. Estudiantes</th>
        </thead>
        <tbody>
            {% for clase in object_list %}
            <tr>
                <td>{{clase.sensei.full_name}}</td>
                <td>{{clase.curso}}</td>
                <td>{{clase.sede}}</td>
                <td>{{clase.inscripciones.count}}</td>

                <td><a href="{% url 'solvencias-clase-detail' clase.id %}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}