{% extends 'gakusei/layout.html' %}

{% block body %}

    <div class="container">
        
        <a href="{% url 'sensei' %}" class="mb-4 btn bg-success-subtle text-reset"><i class="fa-solid fa-angles-left"></i> Regresar a la lista</a>
        
        <form class="card" action="{% url 'sensei-create' %}" method="post"> {%csrf_token%}
        
            <div class="card-body">
                <h1 class="card-title">Registro de Sensei</h1>

                {{ form }}
                <input class="btn" type="submit" value="Registrar">
            </div>
        </form>
    </div>
    
{% endblock %}