{% extends 'gakusei/layout.html' %}

{% block body %}
    <h1>Listado de Senseis</h1>

    <a href="{% url 'sensei-create' %}">Registrar Sensei</a>

    <table>
        <thead>
            <th>Cédula</th>
            <th>Nombre Completo</th>
            <th>Nivel JP</th>
            <th>Nivel EN</th>
            <th>Telefono</th>
        </thead>
        <tbody>
            {% for sensei in object_list %}
            <tr>
                <td>{{sensei.cedula}}</td>
                <td>{{sensei.full_name}}</td>
                <td>{{sensei.JP_level}}</td>
                <td>{{sensei.EN_level}}</td>
                <td>{{sensei.personal_data.telefono}}</td>
                <td><a href="{% url 'sensei-detail' sensei.id %}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}