{% extends 'gakusei/layout.html' %}

{% block body %}

    <a href="{% url 'index' %}" class="mb-4 btn bg-success-subtle text-reset"><i class="fa-solid fa-angles-left"></i> Regresar al Index</a>

    <h1>Listado de Becas</h1>
    
    <a href="{% url 'becas-create' %}">Registrar Beca</a>

    <a href="{% url 'becas-asignar' %}">Asignar Beca a Estudiante</a>

    
    <table>
        <thead>
            <th>Beca</th>
            <th>Descuento</th>
        </thead>
        <tbody>
            {% for beca in object_list %}
            <tr>
                <td>{{beca.nombre}}</td>
                <td>{{beca.descuento_full}}</td>
                <td><a href="{% url 'becas-detail' beca.id %}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}