{% extends 'gakusei/layout.html' %}

{% block body %}
    <h1>Horario {{object}}</h1>

    <a href="{% url 'horario' %}">Regresar a la lista</a>

    <ul>
        <li><a href="{% url 'clase-detail' horario.clase.id %}">
            Clase:            {{horario.clase}}        </a>
        </li>
        <li>Dia:              {{horario.dia_semana}}   </li>
        <li>Hora de Entrada:  {{horario.entrada}} </li>
        <li>Hora de Salida:   {{horario.salida}}  </li>
    </ul>

    Dias de clases en este horario
    -
    -
    -
    
{% endblock %}