{% extends 'gakusei/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'gakusei/select2/select2.min.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'gakusei/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'gakusei/select2/select2.full.min.js' %}"></script>

    <script src="{% static 'gakusei/js/horario/create.js' %}"></script>
{% endblock %}


{% block body %}
    <h1>Edición de Horario</h1>

    <a href="{% url 'horario-detail' horario.pk %}">Regresar al horario</a>

    <form action="{% url 'horario-edit' horario.pk %}" method="post"> {%csrf_token%}
        {{ form }}
        <input type="submit" value="Guardar Cambios">
    </form>
    
{% endblock %}