{% extends 'gakusei/layout.html' %}

{% block body %}

    <a href="{% url 'index' %}" class="mb-4 btn bg-success-subtle text-reset"><i class="fa-solid fa-angles-left"></i> Regresar al Index</a>

    <h1>Listado de Horarios</h1>

    <a href="{% url 'horario-create' %}">Registrar Horario</a>


    <table border="1">
        <thead>
            <td>Clase</td>
            <td>Dia</td>
            <td>H. Entrada</td>
            <td>H. Salida</td>
        </thead>
        <tbody>
            <!-- <tr> Ejemplo?
                <td>Clase - 5 dias de clase</td>
            </tr> -->
            {% for horario in object_list %}
            <tr>
                <td>{{horario.clase}}</td>
                <td>{{horario.dia_semana}}</td>
                <td>{{horario.entrada}}</td>
                <td>{{horario.salida}}</td>
                <td><a href="{% url 'horario-detail' horario.id %}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}