{% extends 'gakusei/layout.html' %}

{% block body %}

    <a href="{% url 'index' %}" class="mb-4 btn bg-success-subtle text-reset"><i class="fa-solid fa-angles-left"></i> Regresar al Index</a>

    <h1>Listado de Cursos</h1>
    
    <a href="{% url 'curso-create' %}">Registrar Curso</a>

    
    <table border="1">
        <thead>
            <th>Módulo</th>
        </thead>
        <tbody>
            {% for curso in object_list %}
            <tr>
                <td>{{curso}}</td>
                <td><a href="{% url 'curso-detail' curso.id %}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}