{% extends 'gakusei/layout.html' %}

{% block body %}
    <h1>Estudiante {{object.full_name}}</h1>

    <a href="{% url 'estudiante' %}">Regresar a la lista</a>

    <a href="{% url 'estudiante-edit' object.pk %}">Editar Estudiante</a>


    <ul>
        <li>Status: {{ object.status }}  </li>
        <li>Cédula: {{ object.cedula }}  </li>
        <li>Primer Nombre: {{ object.personal_data.first_name }}      </li>
        <li>Segundo Nombre: {% if object.personal_data.middle_name %}{{ object.personal_data.middle_name }}{% else %} <i>---</i> {% endif %}     </li>
        <li>Primer Apellido: {{ object.personal_data.last_name_1 }}     </li>
        <li>Segundo Apellido: {% if object.personal_data.last_name_2 %}{{ object.personal_data.last_name_2 }}{% else %} <i>---</i> {% endif %}    </li>
        <li>Correo Personal: {{ object.personal_data.personal_email }}  </li>
        <li>Telefono Movil: {{ object.personal_data.telefono }}         </li>

        {% if object.representante %}
        <li>Representante: {{ object.representante }}</li>
        {% endif %}
    </ul>

    <h3>Clases Inscritas</h3>

    {% if object.inscripciones.all %}
    <table border="1">
        <thead>
            <th>Clase</th>
            <th>Status</th>
            <th>Mensualidad</th>
        </thead>
        <tbody>
            {% for inscripcion in object.inscripciones.all %}
            <tr>
                <td><a href="{% url 'clase-detail' inscripcion.clase.pk %}">{{inscripcion.clase}}</a></td>
                <td>{{inscripcion.clase.status}}</td>
                <td><a href="{% url 'inscripciones-detail' inscripcion.id %}">{{inscripcion.precio_a_pagar}}$</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><i>Estudiante no inscripto en ninguna clase.</i></p>
    {% endif %}

    <h3>Eliminar Estudiante</h3>
    <a href="{% url 'estudiante-delete' object.pk %}">Eliminar</a>
    
{% endblock %}