{% extends 'gakusei/layout.html' %}

{% block body %}

    <div class="container">

        <a href="{% url 'index' %}" class="mb-4 btn bg-success-subtle text-reset"><i class="fa-solid fa-angles-left"></i> Regresar al Index</a>
    
        <div class="card">
            <div class="card-body">
                
                <h1 class="card-title mb-4">Listado de Estudiantes</h1>
            
                <a href="{% url 'estudiante-create' %}"  class="mb-4 btn btn-lg bg-success-subtle text-reset"><i class="fa-solid fa-plus"></i> Registrar Estudiante</a>
            
            
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="table-primary">
                            <th>Cédula</th>
                            <th>Nombre Completo</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Status</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for estudiante in object_list %}
                            <tr>
                                <td>{{estudiante.cedula}}</td>
                                <td>{{estudiante.full_name}}</td>
                                <td>{{estudiante.personal_data.personal_email}}</td>
                                <td>{{estudiante.personal_data.telefono}}</td>
                                <td>{{estudiante.status}}</td>
                                <td class="text-center align-middle"><a href="{% url 'estudiante-detail' estudiante.id %}"><i class="fs-4 fa-solid fa-eye"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

    
{% endblock %}