{% extends 'gakusei/layout.html' %}

{% block body %}
    <h1>Sede {{sede}}</h1>

    <a href="{% url 'sede' %}">Regresar a la lista</a>

    <a href="{% url 'sede-edit' sede.pk %}">Editar Sede</a>

    <ul>
        <li>Nombre:                     {{ sede.nombre }}     </li>
        <li>Ubicación:                  {{ sede.ubicacion }}  </li>
        <li>Informacioón de Contacto:   {{ sede.contacto }}   </li>
        <li>Google Maps:                {{ sede.maps }}       </li>
    </ul>


    {% if sede.maps %}
    {% endif %}

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.7473230714345!2d139.5459290752948!3d35.609298972610574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f0c78860b2f9%3A0x73004f5815f536bc!2zWkVOR0FLVeW8lei2iuOCu-ODs-OCv-ODvA!5e0!3m2!1ses!2sve!4v1739200772205!5m2!1ses!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    
{% endblock %}