{% extends 'gakusei/layout.html' %}

{% block body %}

    <a href="{% url 'sensei' %}"><li>SENSEI</li></a>
    <a href="{% url 'estudiante' %}"><li>ESTUDIANTE</li></a>
    <a href="{% url 'clase' %}"><li>CLASES</li></a>
    <a href="{% url 'horario' %}"><li>HORARIOS</li></a>
    <a href="{% url 'inscripciones' %}"><li>INSCRIPCIONES</li></a>


    <a href="{% url 'dia-de-clase' %}"><li>DIA DE CLASES / ASISTENCIAS</li></a>
    <!-- <a href="{% url 'asistencia' %}"><li>ASISTENCIAS old</li></a> -->

    <a href="{% url 'pagos' %}"><li>PAGOS</li></a>
    <a href="{% url 'solvencias-clase' %}"><li>SOLVENCIAS</li></a>
    <a href="{% url 'sede' %}"><li>SEDES</li></a>
    <a href="{% url 'curso' %}"><li>CURSOS</li></a>
    <a href="{% url 'metodos-pago' %}"><li>METODOS DE PAGOS</li></a>
    <a href="{% url 'descuento-especial' %}"><li>DESCUENTOS ESPECIALES</li></a>
    <a href="{% url 'becas' %}"><li>BECAS</li></a>
        

        <br>
        <br>
        <a href="/admin">Sitio Admin</a>    
        usuario: admin
        clave:   admin
{%endblock%}