{% extends 'gakusei/layout.html' %}

{% block body %}

    <a href="{% url 'sensei' %}"><li>SENSEI</li></a>
    <a href="{% url 'estudiante' %}"><li>ESTUDIANTE</li></a>
    <a href="{% url 'clase' %}"><li>CLASES</li></a>
    <a href="{% url 'horario' %}"><li>HORARIOS</li></a>
    <a href="{% url 'inscripciones' %}"><li>INSCRIPCIONES</li></a>
    <a href="{% url 'dia-de-clase' %}"><li>DIA DE CLASES</li></a>
    <a href="{% url 'asistencia' %}"><li>ASISTENCIAS</li></a>
    <a href="{% url 'pagos' %}"><li>PAGOS</li></a>
    <a href="{% url 'solvencias-clase' %}"><li>SOLVENCIAS</li></a>

        <li>SEDES</li>
        <li>CURSOS</li>
        <li>METODOS DE PAGOS</li>
        <li>BECAS</li>
        <li>DESCUENTOS ESPECIALES</li>
{%endblock%}