<!-- DETAIL -->
{% extends 'gakusei/detail-layout.html' %}    

    {% block regresar-url %}
        
    {% endblock %}
    {% block regresar-text %}
        
    {% endblock %}


    {% block card-title %}
        
    {% endblock %}


    {% block edit-url %}    {% endblock %}
    {% block edit-text %}   {% endblock %}


    {% block card-body %}

    {% endblock %}

    {% block delete-title %}    {% endblock %}

    {% block delete-url %}  {% endblock %}
    

<!-- EDIT -->
{% extends 'gakusei/edit-layout.html' %}    

    {% block regresar-url %}    {% endblock %}
    {% block regresar-text %}   {% endblock %}


    {% block card-title %}  {% endblock %}
    {% block card-sub-title %}  {% endblock %}


    {% block form %}    {% endblock %}


    {% block otros %}   {% endblock %}


<!-- DELETE -->
{% extends 'gakusei/edit-layout.html' %}    

    {% block regresar-url %}    {% endblock %}
    {% block regresar-text %}   {% endblock %}


    {% block card-title %}  {% endblock %}
    {% block delete-mensaje %}  {% endblock %}


    {% block form %}    {% endblock %}