{% extends 'gakusei/layout.html' %}

{% block body %}
    <h1>Clase {{object}}</h1>

    <a href="{% url 'clase' %}">Regresar a la lista</a>

    <a href="{% url 'clase-edit' clase.pk %}">Editar Clase</a>

    <ul>
        <li><a href="{% url 'sensei-detail' clase.sensei.id %}">
            Sensei:           {{clase.sensei}}                      </a>
        </li>
        <li>Curso:            {{clase.curso}}                       </li>
        <li>Sede:             {{clase.sede}}                        </li>
        <li>Horas Semanales:  {{clase.horas_semanales}}             </li>
        <li>Precio:           {{clase.precio}}$                     </li>
        <li>Clase Individual: {{clase.individual|yesno:"Si,No"}}    </li>
        <li>Status:           {{clase.status}}                      </li>
    </ul>


    <h3>Estudiantes</h3>

    {% if clase.status == "Activa" or clase.status == "En Pausa" %}
        <a href="{% url 'inscripciones-create' %}?clase={{clase.pk}}">Asignar estudiante</a>
    {% endif %}

    {% if clase.inscripciones.all %}
    <table border="1">
        <thead>
            <th>Estudiante</th>
            <th>Mensualidad</th>
        </thead>
        <tbody>
            {% for inscripcion in clase.inscripciones.all %}
            <tr>
                <td><a href="{% url 'estudiante-detail' inscripcion.estudiante.pk %}">{{inscripcion.estudiante}}</a></td>
                <td><a href="{% url 'inscripciones-detail' inscripcion.id %}">{{inscripcion.precio_a_pagar}}$</a></td>
                <!-- <td><a href="{% url 'inscripciones-edit' inscripcion.id %}">Editar</a></td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><i>Sin estudiantes asignados para esta clase.</i></p>
    {% endif %}


    <h3>Horarios</h3>

    {% if clase.status == "Activa" or clase.status == "En Pausa" %}
        <a href="{% url 'horario-create' %}?clase={{clase.pk}}">Asignar horario</a>
    {% endif %}

    {% if clase.horarios %}
    <table border="1">
        <thead>
            <tr>
                <th>Día</th>
                <th>Hora de Entrada</th>
                <th>Hora de Salida</th>
            </tr>
        </thead>
        <tbody>
            {% for horario in clase.horarios %}
            <tr>
                <td>{{ horario.dia_semana }}</td>
                <td>{{ horario.entrada }}</td>
                <td>{{ horario.salida }}</td>
                <td><a href="{% url 'horario-edit' horario.pk %}">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><i>Sin horarios asignados para esta clase.</i></p>
    {% endif %}
    

    <h3>Dias de clases</h3>

    {% if clase.status == "Activa" or clase.status == "En Pausa" %}
        <!-- <a href="">Registrar Asistencia</a> -->
    {% endif %}

    {% if clase.dias_de_clase %}
        <table border="1">
            <thead>
                <th>N°</th>
                <th>Fecha</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% for dia in clase.dias_de_clase %}
                <tr>
                    <td>Clase N° {{dia.numero}}</td>
                    <td>{{dia.fecha}}</td>
                    <td>{{dia.status}}</td>
                    <td><a href="{% url 'dia-de-clase-detail' dia.id %}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><i>Todavía no se han dado clases en esta Clase.</i></p>
    {% endif %}


    <h3>Eliminar Clase</h3>

    <a href="{% url 'clase-delete' object.pk %}">Eliminar Clase</a>
    
    
{% endblock %}