{% extends 'gakusei/layout.html' %}

{% block body %}
    <h1>Clase {{object}}</h1>

    <a href="{% url 'clase' %}">Regresar a la lista</a>

    <ul>
        <li><a href="{% url 'sensei-detail' clase.sensei.id %}">
            Sensei:           {{clase.sensei}}                      </a>
        </li>
        <li>Curso:            {{clase.curso}}                       </li>
        <li>Sede:             {{clase.sede}}                        </li>
        <li>Horas Semanales:  {{clase.horas_semanales}}             </li>
        <li>Precio:           {{clase.precio}}$                     </li>
        <li>Clase Individual: {{clase.individual|yesno:"Si,No"}}    </li>
    </ul>


    <h3>Estudiantes</h3>

    <a href="">Asignar estudiante</a>

    {% if clase.inscripciones.all %}
    <ul>
        {% for estudiante in clase.inscripciones.all %}
        <li>{{ estudiante.estudiante }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p><i>Sin estudiantes asignados para esta clase.</i></p>
    {% endif %}


    <h3>Horario</h3>

    <a href="">Asignar horario</a>

    {% if clase.horarios %}
    <table border="1">
        <thead>
            <tr>
                <th>Día</th>
                <th>Hora de Entrada</th>
                <th>Hora de Salida</th>
            </tr>
        </thead>
        <tbody>
            {% for horario in clase.horarios %}
            <tr>
                <td>{{ horario.dia_semana }}</td>
                <td>{{ horario.entrada }}</td>
                <td>{{ horario.salida }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><i>Sin horarios asignados para esta clase.</i></p>
    {% endif %}
    

    <h3>Dias de clases</h3>

    <a href="">Registrar Asistencia</a>

    <ul>
        {% for dia in clase.dias_de_clase %}
            <li>{{dia.simple_str}}</li>
        {% empty %}
            <li><i>Todavía no se han dado clases en esta Clase.</i></li>
        {% endfor %}
    </ul>
    
{% endblock %}