{% extends 'gakusei/layout.html' %}

{% block body %}

    <a href="{% url 'index' %}" class="mb-4 btn bg-success-subtle text-reset"><i class="fa-solid fa-angles-left"></i> Regresar al Index</a>

    <h1>Listado de Clases</h1>

    <a href="{% url 'clase-create' %}">Registrar Clase</a>


    <table border="1">
        <thead>
            <th>Curso</th>
            <th>Sensei</th>
            <th>Sede</th>
            <th>Horas Semanales</th>
            <th>Estudiantes</th>
            <th>Clase Individual</th>
            <th>Status</th>
            <th>Precio</th>
        </thead>
        <tbody>
            {% for clase in object_list %}
            <tr>
                <td>{{clase.curso}}</td>
                <td>{{clase.sensei.full_name}}</td>
                <td>{{clase.sede}}</td>
                <td>{{clase.horas_semanales}}</td>
                <td>{{clase.inscripciones.count}}</td>
                <td>
                    {{ clase.individual|yesno:"Si,No" }}
                </td>
                <td>{{clase.status}}</td>
                <td>${{clase.precio}}</td>
                <td><a href="{% url 'clase-detail' clase.id %}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}