{% extends 'gakusei/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'gakusei/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'gakusei/select2/select2-bootstrap-5-theme.min.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'gakusei/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'gakusei/select2/select2.full.min.js' %}"></script>

    <script src="{% static 'gakusei/js/pagos/create.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>Registro de Pago</h1>

    <a href="{% url 'pagos' %}">Regresar a la lista</a>

    <form id="pago-form" action="{% url 'pagos-create' %}" data-get_clases="{% url 'api-pagos-clases' %}" method="post"> {%csrf_token%}
        
        {{ form }}

        <input id="submit-button" type="submit" value="Registrar">
    </form>

    <div id="mensualidad" data-mensualidad="{% url 'api-pagos-mensualidad' %}"></div>
    <div id="mensualidad-tabla"></div>
    
{% endblock %}