{% extends 'gakusei/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'gakusei/select2/select2.min.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'gakusei/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'gakusei/select2/select2.full.min.js' %}"></script>

    <script src="{% static 'gakusei/js/asistencia/create.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>Registro de Asistencia All-at-Once</h1>
    ESTE FORMULARIO ESTA TERMINADO.
    PARA REGISTRO DE ASISTENCIAS INDIVIDUALES HACER (O REACTIVAR) EL OTRO FORMULARIO. MENOS MAL NO LO BORRE.

    <a href="{% url 'asistencia' %}">Regresar a la lista</a>

    <form id="asistencia-form" action="{% url 'asistencia-create' %}" data-dias="{% url 'api-clase-diadeclase-get' %}" data-estudiantes="{% url 'api-inscripciones-estudiantes-get' %}" method="post"> {%csrf_token%}
        
        {{ clase_form }}

        <div id="dias-select">
            <p>Seleccione una clase primero.</p>
        </div>
        
        <div id="estudiante-presentes">
        </div>

        <input type="submit" value="Registrar">
    </form>

    
{% endblock %}