{% extends 'gakusei/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'gakusei/select2/select2.min.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'gakusei/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'gakusei/select2/select2.full.min.js' %}"></script>

    <script src="{% static 'gakusei/js/asistencia/create.js' %}"></script>
{% endblock %}

{% block body %}
<!-- INCOMPLETO -->
    <h1>Registro de Asistencia</h1>

    <a href="{% url 'asistencia' %}">Regresar a la lista</a>

    <form id="asistencia-form" action="{% url 'asistencia-create' %}" data-estudiantes_url="{% url 'api-inscripciones-estudiantes-get-clasic' %}" method="post"> {%csrf_token%}
        {{ form }}
        <input type="submit" value="Registrar">
    </form>

    <button data-url="{% url 'api-inscripciones-estudiantes-get-clasic' %}" id="test">aaa</button>
    
{% endblock %}