{% extends 'gakusei/layout.html' %}

{% block body %}
    <h1>Inscripción {{object}}</h1>

    <a href="{% url 'inscripciones' %}">Regresar a la lista</a>

    {% if inscripciones.clase.status != "Terminada" and inscripciones.clase.status != "Suspendida" %}
        <a href="{% url 'inscripciones-edit' inscripciones.pk %}">Editar Inscripción</a>
    {% endif %}
    

    <ul>
        <li><a href="{% url 'clase-detail' inscripciones.clase.id %}">
            Clase:            {{inscripciones.clase}}        </a>
        </li>
        <li><a href="{% url 'estudiante-detail' inscripciones.estudiante.id %}">
            Estudiante:            {{inscripciones.estudiante}}        </a>
        </li>
        <li>Precio a pagar:   {{inscripciones.precio_a_pagar}}$  </li>
    </ul>


    <h3>Eliminar Inscripción</h3>
    <a href="{% url 'inscripciones-delete' inscripciones.pk %}">Eliminar</a>

{% endblock %}