{% extends 'gakusei/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'gakusei/select2/select2.min.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'gakusei/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'gakusei/select2/select2.full.min.js' %}"></script>

    <!-- <script src="{% static 'gakusei/js/dia_de_clase/create.js' %}"></script> -->
{% endblock %}

{% block body %}
    <h1>Registro de Dia de Clase</h1>

    <a href="{% url 'dia-de-clase-detail' diadeclase.pk %}">Regresar al Dia de Clase</a>

    <form action="{% url 'dia-de-clase-edit' diadeclase.pk %}" data-form="{% url 'api-dia-de-clase-form' %}" method="post"> {%csrf_token%}
        {{ form}}

        <input id="submit-button" type="submit" value="Guardar Cambios">
    </form>
    
{% endblock %}