{% extends 'gakusei/layout.html' %}

{% block body %}
    <h1>Listado de Dias de Clases</h1>

    
    <a href="{% url 'index' %}">Regresar al Index</a>

    <a href="{% url 'dia-de-clase-create' %}">Registrar Dia de Clase</a>


    <table>
        <thead>
            <!-- <th>N°</th>
            <th>Fecha</th> -->
            <!-- <th>Clase</th> -->
            <!-- <th>Horario</th>
            <th>Status</th>
            <th></th> -->
            <th>Dias de Clases</th>
            <th></th>
        </thead>
        <tbody>
            {% for dia in object_list %}
            <tr>
                <!-- <td>{{dia.numero}}</td>
                <td>{{dia.fecha}}</td>
                <td>{{dia.horario}}</td>
                <td>{{dia.status}}</td> -->
                <td>{{dia}}</td>
                <td><a href="{% url 'dia-de-clase-detail' dia.id %}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}