{% extends 'gakusei/layout.html' %}

{% block body %}
    <h1>Sede {{object}}</h1>

    <a href="{% url 'metodos-pago' %}">Regresar a la lista</a>

    <ul>
        <li>Método:          {{ object.metodo }}    </li>
        <li>Datos de Pago:   {{ object.datos }}     </li>
        <li>Observaciones:   {% if object.obs %} {{ object.obs }} {% else %} <i>Ninguna.</i> {% endif %}       </li>
    </ul>


    <h3>Pagos con {{object}}</h3>

    <ul>
        {% for pago in object.pagos.all %}
            <li>{{pago}}</li>
        {% empty %}
            <li><i>No hay pagos hechos con este Método</i></li>
        {% endfor %}
    </ul>
   
    
{% endblock %}